@import "swiper/css";
@import "swiper/css/free-mode";

/* Custom styles for MockupCarousel */
.mockup-carousel-swiper {
  height: 100% !important;
}

.mockup-carousel-swiper .swiper-wrapper {
  height: 100% !important;
  align-items: center;
}

.mockup-carousel-swiper .swiper-slide {
  height: auto !important;
  display: flex;
  align-items: center;
}
